<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Azubi Detailansicht</h2>
  <p><strong>Vorname:</strong> {{ azubi?.vorname }}</p>
  <p><strong>Nachname:</strong> {{ azubi?.nachname }}</p>
  <p><strong>Email:</strong> {{ azubi?.email }}</p>
  <p><strong>Lehrjahr:</strong> {{ azubi?.lehrjahr }}</p>
  <a routerLink="/" class="text-blue-600 hover:underline">Zurück zur Liste</a>
</div>

<div class="button-container">
  <button (click)="bewertungErstellen('referat')">
    Bewertung für Referat erstellen
  </button>
  <button (click)="bewertungErstellen('schulung')">
    Bewertung für Schulung erstellen
  </button>
</div>

<!-- Dropdown Referat -->
<div *ngIf="zeigeReferatDropdown">
  <label for="referat">Referat auswählen:</label>
  <select id="referat" (change)="referatAuswaehlen($event)">
    <option disabled selected>Bitte wählen...</option>
    <option *ngFor="let ref of referate" [value]="ref.referat_id">
      Referat {{ ref.abteilung }} {{ ref.referatsgruppe }} {{ ref.referatsgruppennummer }}
    </option>
  </select>
</div>

<!-- Dropdown Schulung -->
<div *ngIf="zeigeSchulungDropdown">
  <label for="schulung">Schulung auswählen:</label>
  <select id="schulung" (change)="schulungAuswaehlen($event)">
    <option disabled selected>Bitte wählen...</option>
    <option *ngFor="let sch of schulungen" [value]="sch.schulung_id">
      {{ sch.schulung }}
    </option>
  </select>
</div>


<div *ngIf="bewertungen.length > 0">
  <h3>Vorhandene Bewertungen</h3>
  <ul>
    <li *ngFor="let b of bewertungen">
      <span>
        Bewertung -
        <span *ngIf="b.referat">
          Referat {{ b.referat.abteilung }} {{ b.referat.referatsgruppe }} {{ b.referat.referatsgruppennummer }}
        </span>
        <span *ngIf="b.schulung">
          Schulung {{ b.schulung.schulung }}
        </span>
      </span>
      <button (click)="bewertungAnzeigen(b)">Anzeigen</button>

    </li>
  </ul>
</div>

<div *ngIf="vermittelteUnterpunkte.length > 0" class="mt-6">
  <h3 class="text-lg font-semibold mb-2">Vermittelte Inhalte</h3>
  <ul class="list-disc list-inside text-gray-700">
    <li *ngFor="let punkt of vermittelteUnterpunkte">{{ punkt }}</li>
  </ul>
</div>


